{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 11"]
      },
      "modules": false
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },

    "test": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["ie >= 11"]
          }
        }],
        "stage-2",
        "react"
      ],
      "plugins": [
        "syntax-dynamic-import"
      ]
    }
  }
}
